@media (max-width: 768px) {
    form.form-row > .col-md-3,
    form.form-row > .col-md-2 {
        width: 100% !important;
    }

    form.form-row {
        flex-direction: column;
        align-items: stretch;
    }

    form.form-row > .col-md-2.mb-2.d-flex.align-items-end {
        justify-content: center;
    }
}
